<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2">
    <div class="form-group">
      <label for="userID">Please input your User ID</label>
      <input
        type="number"
        id="userID"
        class="form-control"
        #userIDInput>
    </div>
    <button class="btn btn-success" type="submit" (click)="onFetchCampaign()">Fetch Campaign</button>
  </div>
  <div class="col-xs-3">
    <ul class="list-group">
      <li class="list-group-item" *ngIf="activatedCampaign !== null">
        <span>User ID</span><p>{{ activatedCampaign.id }}</p>
        <span>Rest time</span><p>{{ activatedCampaign.duration }}</p>
        <span>Content</span><p>{{ activatedCampaign.ad_content }}</p>
      </li>
    </ul>
  </div>
</div>
