<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2">
    <div class="form-group">
      <label for="userID">Please input your User ID</label>
      <input
        type="number"
        id="userID"
        class="form-control"
        #userIDInput>
    </div>
    <button class="btn btn-success" type="submit" (click)="onFetchCampaign()">Fetch Campaign</button>
  </div>
  <div class="col-xs-8">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let campaign of campaignArray">
        <span>User ID</span><p>{{ campaign.id }}</p>
        <span>Rest time</span><p>{{ campaign.duration }}</p>
        <span>Content</span><p>{{ campaign.ad_content }}</p>
      </li>
    </ul>
  </div>
</div>
